<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_flex">
    <application>
        <activity android:name="com.example.flutter_flex.FlexWebViewActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>
</manifest>

